.Join{
    background-color: rgba(255, 99, 28, 0.1);
    padding:  0 0 0 5em;
    display: flex;
    height:70vh;
    align-items: center;
}
.join-left{
    width: 40%;
    h1{
        font-size: 3.2rem;
        font-weight: 700;
    }
    p{
        line-height: 1.7em;
        margin-bottom: 2em;
    }
    ul li{
        list-style:georgian;
        margin-bottom: 1em;
    }
    button{
        border: none;
        width: 12em;
        height: 4em;
        color: white;
        background-color: #ff631c;
        transition: 0.3 ease;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
            background: inherit;
            border: 0.5px #ff631c outset;
            color: #ff631c;
        }
    }
}
.join-right{
    background: url(../img/services.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: inherit;
    width: 60%;
}


@media(max-width:768px){
    .Join{
        flex-direction: column;
        height: fit-content;
        text-align: center;
        padding: 2em 0 2em 0;
        justify-content: center;
        align-content: space-between;
        text-align: center;
        h1,p{
            width: 80%;
            margin-right: auto;
            margin-left: auto;
        }
    }
    .join-right{
        width: 100%;
        height: 50vh;
        background-size: contain;
        margin-top: 3em;
    }
    .join-left{
        width: 100%;
        padding: 0;
        ul{
            margin: 2em 0 2em 0;
            li{
                width: 20%;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
}

@media(min-width:1000px){
    .Join{
        height: 120vh;
    }
}