.Join{
    background-color: rgba(255, 99, 28, 0.1);
    background:url('../img/bg-pattern-intro.svg') left, linear-gradient(to right,
    rgba(255, 99, 28, 0.1), 
    rgba(255, 99, 28, 0.1)
     );
    padding:  0 0 0 5em;
    display: flex;
    height:70vh;
    align-items: center;
}
.join-left{
    width: 40%;
    h1{
        font-size: 2.7rem;
        font-weight: 700;
        color: rgb(106, 13, 173);
        text-transform: uppercase;
    }
    p{
        line-height: 1.7em;
        margin-bottom: 2em;
        @media(min-width:769px){
            line-height: 3em;
            font-size: 1.2rem;
        }
            @media(min-width:1850px){
                
            }
          
        
    }
    ul li{
        list-style:georgian;
        margin-bottom: 1em;
    }
    button{
        border: none;
        width: 12em;
        height: 4em;
        color: white;
        background-color: #ff6e65;
        transition: 0.3 ease;
        border-radius: 5px;
        cursor: pointer;
        @media(min-width:769px){
            width: 10em;
            height: 3em;
            font-size: 1.2rem;
            margin-top: 2em;
        }
            @media(min-width:1850px){
                
            }
          
        
        &:hover{
            background: inherit;
            border: 0.5px #ff631c outset;
            color: #ff631c;
        }
    }
}
.join-right{
    @media(max-width:768px){
        background: url(../img/services.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
   
    height: inherit;
    width: 60%;
}


@media(max-width:768px){
    .Join{
        flex-direction: column;
        height: fit-content;
        text-align: center;
        padding: 2em 0 2em 0;
        justify-content: center;
        align-content: space-between;
        text-align: center;
        h1,p{
            width: 80%;
            margin-right: auto;
            margin-left: auto;
        }
    }
    .join-right{
        width: 100%;
        height: 50vh;
        background-size: contain;
        margin-top: 3em;
    }
    .join-left{
        width: 100%;
        padding: 0;
       
    }
}

@media(min-width:1000px){
    .Join{
        height: 120vh;
    }
}